@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;600;700&display=swap');
@import 'tailwindcss';

:root.dark { color-scheme: dark; }
:root:not(.dark) { color-scheme: light; }

@theme {
  /* Typography */
  --font-primary: 'Rubik', sans-serif;
  --font-secondary: 'Fira Sans', sans-serif;
  --h1: 600 3rem/1.2em var(--font-secondary);
  --h2: 600 2rem/1.2em var(--font-secondary);
  --p: 1rem/1.5em var(--font-primary);
  --span: 1rem/1.0em var(--font-primary);

  /* Primary color */
  --color-p-10: hsl(75, 4.88%, 10%);
  --color-p-20: hsl(75, 4.88%, 20%);
  --color-p-30: hsl(75, 4.88%, 30%);
  --color-p-40: hsl(75, 4.88%, 40%);
  --color-p-50: hsl(75, 4.88%, 50%);
  --color-p-60: hsl(75, 4.88%, 60%);
  --color-p-70: hsl(75, 4.88%, 70%);
  --color-p-80: hsl(75, 4.88%, 80%);
  --color-p-90: hsl(75, 4.88%, 90%);

  /* Secondary color */
  --color-sd-10: hsl(206, 55%, 10%);
  --color-sd-20: hsl(206, 55%, 20%);
  --color-sd-30: hsl(206, 55%, 30%);
  --color-sd-40: hsl(206, 55%, 40%);
  --color-sd-50: hsl(206, 55%, 50%);
  --color-sd-60: hsl(206, 55%, 60%);
  --color-sd-70: hsl(206, 55%, 70%);
  --color-sd-80: hsl(206, 55%, 80%);
  --color-sd-90: hsl(206, 55%, 90%);

  /* Accent color */
  --color-a-10: hsl(7, 76%, 10%);
  --color-a-30: hsl(7, 76%, 30%);
  --color-a-50: hsl(7, 76%, 50%);
  --color-a-70: hsl(7, 76%, 70%);
  --color-a-90: hsl(7, 76%, 90%);
}

.dark {
  /* Primary color */
  --color-p-10: hsl(75, 4.88%, 90%);
  --color-p-20: hsl(75, 4.88%, 80%);
  --color-p-30: hsl(75, 4.88%, 70%);
  --color-p-40: hsl(75, 4.88%, 60%);
  --color-p-50: hsl(75, 4.88%, 50%);
  --color-p-60: hsl(75, 4.88%, 40%);
  --color-p-70: hsl(75, 4.88%, 30%);
  --color-p-80: hsl(75, 4.88%, 20%);
  --color-p-90: hsl(75, 4.88%, 10%);

  /* Secondary color */
  --color-sd-10: hsl(206, 55%, 90%);
  --color-sd-20: hsl(206, 55%, 80%);
  --color-sd-30: hsl(206, 55%, 70%);
  --color-sd-40: hsl(206, 55%, 70%);
  --color-sd-50: hsl(206, 55%, 50%);
  --color-sd-60: hsl(206, 55%, 40%);
  --color-sd-70: hsl(206, 55%, 30%);
  --color-sd-80: hsl(206, 55%, 20%);
  --color-sd-90: hsl(206, 55%, 10%);

  /* Accent color */
  --color-a-10: hsl(7, 76%, 90%);
  --color-a-30: hsl(7, 76%, 70%);
  --color-a-50: hsl(7, 76%, 50%);
  --color-a-70: hsl(7, 76%, 30%);
  --color-a-90: hsl(7, 76%, 10%);
}

@layer base {
  html {
    scroll-behavior: smooth;
    @apply bg-p-90 text-p-10;
    transition: background-color 0.3s ease, color 0.1s ease;
  }

  body {
    text-wrap: balance;
    font: var(--p);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
  }

  h1 {
    font: var(--h1);
    @apply my-2;
  }

  h2 {
    font: var(--h2);
    @apply my-2;
  }

  p {
    @apply my-2;
  }

  a {
    @apply text-p-10 no-underline;
  }

  a:hover {
    @apply text-p-30;
  }
}

@layer components {

}
